# Process user data

In [99]:
#specify imports
import pandas as pd
import ast

In [100]:
#load in data
user_data = pd.read_csv("user_data.csv", on_bad_lines='skip', sep=";", index_col=0)
user_data = user_data.drop("genre.1", axis=1)

## Transform data

In [103]:
user_data['top5'] = user_data['top5'].apply(lambda x: ast.literal_eval(x))

In [104]:
user_data['title_type'] = user_data['title_type'].apply(lambda x: ast.literal_eval(x))

In [105]:
user_data['rating'] = user_data['rating'].apply(lambda x: ast.literal_eval(x))

In [106]:
user_data['prefDate'] = user_data['prefDate'].apply(lambda x: ast.literal_eval(x))

In [107]:
user_data['genre'] = user_data['genre'].apply(lambda x: ast.literal_eval(x))

## Rename

In [108]:
user_data = user_data.rename(columns={"age":"dob","top5":"top10","genre":"pref_genre","prefDate":"pref_years","rating":"pref_rating","title_type":"pref_title_type"})

In [109]:
user_data.head(2)

,dob,email,first_name,gender,pref_genre,key,location,password,pref_years,pref_rating,pref_title_type,top10
0,1962-07-21,Miriamtje@live.nl,Miriam,Female,"[DOCUMENTARY, INDIGENOUS]",Miriamtje,Breda,b9)g/NG},"[2018, 2019]",[MA],"[Panel_Discussion, News, Documentary]","[ABC News WA, Keeping Australia Safe, You Can'..."
1,1993-05-26,Dortha00@icloud.com,Dortha,Female,[NEWS],Dortha00,Rheden,z@LcT2+%,"[2020, 2022]",[No preference],[Documentary],"[Ageless Friendships, The Great Australian Bee..."

## Compare user_data and programs data

In [111]:
df_shows = pd.read_csv("programs_abc.csv")
all_shows = df_shows['title'].unique()

In [112]:
#make sure all 'top10 titles' are in the actual programs data
diff_shows = []
for index, row in user_data.iterrows():
    top_10 = row['top10']
    for show in top_10:
        if show not in all_shows:
            if show not in diff_shows:
                diff_shows.append(show)

#all other column checked as well

In [113]:
diff_shows

[]

## Export data

In [114]:
user_data.to_pickle("final_users")